<%- include('header') -%>

    <div class="header">
      <span>Cicák</span>
      <span>&raquo;</span>
      <span id="gray">Új cica hozzáadása</span>
    </div>

    <form method="post">
      <div class="container cat">
        
        <div class="row">
          <div class="left_col">
            <label for="nev">Név</label>
          </div>
          <div class="right_col">
            <input type="text" id="nev" name="nev"/>
          </div>
        </div>

        <div class="row">
          <div class="left_col">
            <label for="suly">Súly</label>
          </div>
          <div class="right_col">
            <input type="text" id="suly" name="suly"/>
          </div>
        </div>

        <div class="row">
          <div class="left_col">
            <label for="etel">Kedvenc étel</label>
          </div>
          <div class="right_col">
            <input type="text" id="etel" name="etel"/>
          </div>
        </div>

        <div class="row">
          <div class="left_col">
            <label for="baratsagos">Barátságos?</label>
          </div>
          <div class="right_col">
            <input type="text" id="baratsagos" name="baratsagos"/>
          </div>
        </div>

        <div class="row">
          <div class="left_col">
            <label for="_napkozije">Napközi</label>
          </div>
          <div class="right_col">
              <select name="_napkozije" id="_napkozije">
                <% napkozik.forEach(function(napkozi){ %>
                <option value="<%= napkozi._id %>"><%= napkozi.nev %></option>
                <% }); %>
              </select>
          </div>

        </div>
      </div>
      <input type="submit" value="Mentés" class="nav_btn" />
      <a href="/cica_nezet" class="nav_btn">Mégse</a>
    </form>
  </body>
</html>
