<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/edit_page_style.css" />
    <title>Napközi manager</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
  </head>
  <body>