


<%- include('header') -%>

    <h1 class="cat">Jelenlegi lakók</h1>
    <div class="container" style="background-color: white">
      <div class="left">
        <ul>
          <% cicak.forEach(function(cica){ %>
          <li><%= cica.nev %></li>
          <% }); %>
        </ul>
      </div>
    </div>
    <a href="/napkozi_nezet" class="add_resident nav_btn">Vissza</a>
  </body>
</html>
