<%- include('header') -%>

    <div class="header">
      <span>Napközik</span>
      <span>&raquo;</span>
      <span id="gray">Napközi módosítás</span>
    </div>

    <form method="post">
      <div class="container cat">
        <div class="row">
          <div class="left_col">
            <label for="nev">Név</label>
          </div>
          <div class="right_col">
            <input type="text" id="nev" name="nev"/>
          </div>
        </div>
        <div class="row">
          <div class="left_col">
            <label for="tulaj">Tulajdonos</label>
          </div>
          <div class="right_col">
            <input type="text" id="tulaj" name="tulaj"/>
          </div>
        </div>
        <div class="row">
          <div class="left_col">
            <label for="kapacitas">Kapacitás</label>
          </div>
          <div class="right_col">
            <input type="text" id="kapacitas" name="kapacitas"/>
          </div>
        </div>
      </div>
      <input type="submit" value="Mentés" class="nav_btn" />
      <a href="/napkozi_nezet" class="nav_btn">Mégse</a>
    </form>
  </body>
</html>
